/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #414141;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Container principal */
.container {
    text-align: center;
}

/* Logo */
.logo img {
    width: 300px;
    height: auto;
    animation: shakeY 0.5s ease-in-out infinite;
    
}

@keyframes shakeY {
    0% { transform: translateY(0); }
    25% { transform: translateY(-10px); }
    50% { transform: translateY(10px); }
    75% { transform: translateY(-10px); }
    100% { transform: translateY(0); }

}

/* Botões */
.buttons {
    margin-top: 50px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;  
    border-radius: 5px;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

/* Efeito nos botões */
.btn:hover {
    background-color: #eb13137e;
    transform: scale(1.1);
}

.btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: #d4020293;
    transition: width 0.4s, height 0.4s, top 0.4s, left 0.4s;
    border-radius: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
}

.btn:hover::before {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
}

/* Botões em primeiro plano */
.btn span {
    position: relative;
    z-index: 1;
}
/* Resetando margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do corpo */
body {
    background: linear-gradient(to bottom, #413b3b, #250000); /* Gradiente preto para branco */
    height: 100vh; /* Garante que o gradiente ocupe toda a altura da janela */
    margin: 0; /* Remove a margem padrão */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

/* Caixa de texto rolando */
.texto-rolando {
    font-size: 30px;
    color: #e41223;
    white-space: nowrap; /* Impede o texto de quebrar em múltiplas linhas */
    animation: rolar 15s linear infinite;
}

/* Definindo a animação de rolagem */
@keyframes rolar {
    0% {
        transform: translateX(100%); /* Começa fora da tela à direita */
    }
    100% {
        transform: translateX(-100%); /* Vai até fora da tela à esquerda */
    }
}

